body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: auto;
    max-width: 400px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: auto;
    text-align: center;
    overflow: hidden;
}

h2 {
    font-size: 24px;
    margin-bottom: 1.5rem;
    color: #173B61;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="message"] {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f9f9f9;
    color: #333;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="message"]:focus
{
    border-color: #173B61;
    outline: none;
}

button[type="submit"] {
    width: 100%;
    padding: 1rem;
    background-color: #173B61;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #cc0000;
}

.signup-link {
    margin-top: auto; 
    text-align: center;
}

.signup-link a {
    color: #173B61;
    text-decoration: none;
    transition: color 0.3s ease;
}

.signup-link a:hover {
    color: #cc0000;
}


.success-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #28a745;
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 9999; 
    display: inline-block;
    animation: fadeIn 1s, fadeOut 2s 2s;
}
.hidden {
    display: none;
}

#success-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
textarea {
    width: 100%; 
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f9f9f9;
    color: #333;
    resize: none;
    height: 100px; 
}

textarea:focus {
    border-color: #173B61;
    outline: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@media (max-width: 600px) {
    .form-box {
        padding: 1.5rem;
        width: 90%;
        height: auto;
    }
}